:root {
  --background: rgb(252, 245, 184);
  --surface: rgb(180, 205, 147);
  --accent: rgb(66, 122, 91);
  --text: rgb(64, 63, 63);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(32, 32, 32);
    --surface: rgb(45, 90, 70);
    --accent: rgb(180, 205, 147);
    --text: rgb(245, 245, 245);
  }
}

.bg-background {
  background-color: var(--background);
}
.bg-surface {
  background-color: var(--surface);
}
.bg-accent {
  background-color: var(--accent);
}
.border-surface {
  border-color: var(--surface) !important;
}
.border-accent {
  border-color: var(--accent) !important;
}
body {
  background-color: var(--background);
  color: var(--text);
}
